.about {
    margin: 20px 0 60px 0;
    padding: 20px;
}

.about-title-text {
    color: black;
    transition: all 0.3s ease;

    &:hover {
        transition: all 0.3s ease;
        font-size: 40px;
        color: #460d8d;
    }
}

.about-list-container {
    padding: 30px 0px 30px 0px;
}

.hobbies-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 85px 0 85px;
}

.hobbies-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 calc(50% - 100px);
    list-style-type: none;
    border: 2px solid #460d8d;
    border-radius: 10px;
    padding: 15px 0 0 15px;
}

.hobbies-list-item-picture {
    width: 100px;
    border-radius: 100%;
}

.hobbies-list-item-content {
    font-size: 15px;
}

/* Styles spécifiques aux éléments .hobbies-list-item */
.hobbies-list-item h3,
.hobbies-list-item p {
    margin: 10px; /* Ajoutez des marges entre les éléments */
}

.hobbies-list-item h3 {
    font-size: 18px; /* Réglez la taille de la police pour les titres */
}

.hobbies-list-item-content {
    font-size: 12px; 
    flex-wrap: wrap;/* Réglez la taille de la police pour le contenu */
}
