#contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 180px;
    padding: 20px;
}
.contact_form-title {
    color: black;
    font-size: 35px;
    margin-left: 20px;
    transition: all 0.3s ease;

    &:hover {
        transition: all 0.3s ease;
        font-size: 40px;
        color: #460d8d;
    }
}

.contact-infos-icon {
    width: 60px;
}

.contact-infos-text {
    font-size : 18px;
}