#skills {
    background-color: black;
    color: white;
    padding: 40px 0 50px 0;
}

.skills-container {
    display: flex;
    flex-direction: column;
}

.skills-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.skills-title-text {
    color: white;
    font-size: 35px;
    margin-left: 20px;
    transition: all 0.3s ease;

    &:hover {
        transition: all 0.3s ease;
        font-size: 40px;
        color: #460d8d;
    }
}

.skills-list {
    margin: 20px 0 20px 0;

    &-container{
        padding-top: 25px;
    }
}

.skills-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6em;
    transition: all 0.3s ease;

    &:hover {
        transition: all 0.3s ease;
        transform: scale(1.1);
    }

    &-name{
        font-size: 20px;
        text-align: center;
        padding-top: 10px;
    }
}

.skills-list-item-icon {
    width: 40px;
    border: solid  white 1px;
    border-radius: 100%;
    transition: all 0.8s ease;
    
    &:hover {
        transition: all 0.8s ease;
        transform: scale(1.1) rotate(360deg);
    }
}