#skills {
    background-color: black;
    color: white;
    padding: 40px 0 50px 0;
}

.skills-container {
    display: flex;
    flex-direction: column;
}

.skills-title-text {
    color: white;
    font-size: 35px;
    margin-left: 20px;
    transition: all 0.3s ease;

    &:hover {
        transition: all 0.3s ease;
        font-size: 40px;
    }
}

.skills-list {
    margin: 20px 0;
    padding: 35px 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.skills-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-list-dev,
.skills-list-design {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.skills-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6em;
    transition: all 0.3s ease;

    &:hover {
        transition: all 0.3s ease;
        transform: scale(1.1);
    }

    &-name {
        font-size: 20px;
        text-align: center;
        padding-top: 10px;
    }
}

.skills-list-item-icon {
    width: 40px;
    border: solid white 1px;
    border-radius: 50%;
    transition: all 0.8s ease;

    &:hover {
        transition: all 0.8s ease;
        transform: scale(1.1) rotate(360deg);
    }
}