// COLORS
$primary-color : black;
$secondary-color: white;
$third-color: #460d8d;
$background-color: rgba(67, 13, 108, 0.0509803922);


// FONT SIZE
$font-size-small: 12px;
$font-size-medium: 20px;
$font-size-large: 35px;
$font-size-xlarge: 30px;
$font-size-xxlarge: 35px;

// FONT WEIGHT
$thin: 300;
$regular: 400; 
$semi-bold: 500;
$bold: 700;